body {
    background:url('.\images\prism.png') center repeat fixed;
}

nav {
    font-family:"Special Elite", serif;
    color:#eeeeee;
}

a {
    color:#eeeeee!important;
}

button {
    color:#55dd79!important;
    font-family: 'Maitree', sans-serif;
}

.navbar-brand span {
    font-size:12px;
}

.dropdown-menu {
    max-height:200px!important;
    overflow-y:scroll;
}

.dropdown-menu a {
    color:#000000!important;
}

.App-body nav {
    height:100px;
}

.App-body select {
  font-size:12px!important;
  max-width:175px;
}

option {
  font-size:12px!important;
}

.App-body .navbar-brand {
    margin-right:35px;
}

.nav-item {
    border:#666666 1px solid;
    border-radius:5px;
    margin-right:10px;
}

.nav-item:hover {
    background:#666666;
}

.form-row .form-group {
    margin-right:10px;
}
#donateButton {
  color:#55dd79!important;
  border-color:#55dd79!important;
  margin-right:10px;
}
.form-group label, .form-group option, .form-group select {
    font-size:13px;
}

.form-row .btn {
    margin-left:10px!important;
    max-height:50px;
    margin-top:10px;
}

.form-control {
  font-family: 'Maitree', sans-serif;
  background-color:#cccccc;
  color: #000000;
}

#cardholder {
    margin-top:10px;
}

.card {
    background:#343a40;
    color:#eeeeee;
    padding:3px;
    margin:5px;
}

.card-title {
  font-family: 'Special Elite', serif;
}

.card p {
    font-size:12px;
    font-family: 'Maitree', sans-serif;
}

.list-group-item {
    background:#343a40!important;
    font-size:13px;
}

.card a:hover {
    color:#55dd79!important;
}

.modal-content {
    background:#333333;
    color:#eeeeee;
    font-family: "Special Elite", serif;
}

.modal-title, .modal-content h4 {
    color:#55dd79!important;
}

.modal-content p {
    font-size:14px;
    font-family: 'Maitree', sans-serif;
}

.faqcategory {
    color:#55dd79!important;
    font-style:italic;
}

.modal-content .card-img-top {
  max-height:250px;
  max-width:250px;
  margin:auto;
}

.filters {
  width:80%;
  float:left;
}

.filters .navbar-brand {
  float:left;
}

.filters .form-row {
  clear:left;

}

.sortButtons {
  float:right;
  width:25%;
  text-align:right;
}

.sortButtons button {
  font-size:12px;
}

.randButton {
  border-radius:none!important;
}

.guide-body {
  padding-top:15px;
  background-color:#343a40;
}

#leftTitle {
  color:#55dd79;
  font-family: 'Special Elite', serif;
  font-size: 36px;
  float:left;
}

#rightTitle {
  font-family: 'Maitree', serif;
  color:#55dd79;
  float:right;
}

#bigstuff {
  clear:both;
  border-top:#55dd79 1px solid;
  padding-top:10px;
}

#bigstuff h4 {
  color:#55dd79;
  font-family: 'Special Elite', serif;
  font-size:28px;
}

#bigstuff h5 {
  font-family: 'Maitree', serif;
  font-size: 24px;
  color:#cccccc;
}

#basics {
  border-top:#55dd79 1px solid;
  padding-top:10px;
}

#basics li {
  font-family: 'Maitree', serif;
  color:#cccccc;
  font-size:18px;
}

#allSkills {
  border-top:#55dd79 1px solid;
  padding-top:10px;
}

#allSkills p {
  font-family: 'Maitree', serif;
  color:#cccccc;
  font-size:18px;
}

#advanced {
  border-top:#55dd79 1px solid;
  padding-top:10px;
}

#advanced li {
  font-family: 'Maitree', serif;
  color:#cccccc;
  font-size:18px;
}

#guide {
  border-top:#55dd79 1px solid;
  padding:10px;
  font-size:14px;
  color:#cccccc;
  font-family:'Maitree', serif;
}

footer {
  background: #333333;
  color:#eeeeee;
  font-family: "Special Elite", serif;
  font-size:10px;
}

footer div {
  text-align:center;
  line-height:8px;
  padding:10px;
}

#submitModal .form-group {
  width:75%;
  margin:auto;
}

#submitModal button {
  margin-top:10px;
  float:right;
}

#masterygroup .form-control, #extras .form-control {
  margin-top:5px;
}

#bigstuff .btn {
  font-family: 'Special Elite', serif !important;
  color:#55dd79!important;
}

.modal-body .container {
  width:80%;
  margin:auto;
}

.rdw-editor-wrapper {
  width:100%!important;
  margin:auto;
}

.rdw-editor-main {
  background-color:#ffffff;
  color:#000000;
  font-family: 'Maitree', serif;
  height:200px;
}

.rdw-dropdownoption-default {
  color:#000000;
  font-family: 'Maitree', serif;
}

.rdw-dropdown-wrapper span {
  color:#000000;
  font-family: 'Maitree', serif;
}

@media (max-width:992px) {
  .App-body .navbar {
    height:200px;
  }
}

@media (max-width:450px) {
  .App-body .navbar {
    height:285px;
  }
  .card {
    margin:5px auto;
    width:90%!important;
    text-align:center;
  }
  .card-img-top {
    max-width:50%;
    margin:auto;
  }
  .modal-title, #leftTitle  {
    font-size:22px!important;
  }
  #buildTitle {
    width:90%;
  }
  #leftTitle {
    width:75%!important;
    float:left;
  }
  #rightTitle {
    display:none;
  }
  #bigStuff {
    width:90%;
  }
  #bigstuff h4 {
    font-size:16px!important;
    text-align:center;
  }
  #bigstuff h5 {
    font-size:14px;
    text-align:center;
  }
  #bigstuff .btn {
    width:100%!important;
    height:25px;
    font-size:14px;
    padding-top:3px;
  }
  #guide {
    width:100%;
  }
  #guide p {
    font-size:12px!important;
    overflow:scroll;
  }
  .sortButtons {
    display:none;
  }
  .guide-body li, .guide-body p {
    font-size:14px!important;
  }
  #leftTitle {
    float:none;
  }
  #buildTitle {
    text-align:center;
  }
}

@media (max-width: 350px) {
  .App-body .navbar {
    height: 380px!important;
  }
}
