body {
    background:url('.\images\prism.png') center repeat fixed;
}

nav {
    font-family:"Special Elite", serif;
    color:#eeeeee;
}

a {
    color:#eeeeee!important;
}

button {
    color:#55dd79!important;
    font-family: 'Maitree', sans-serif;
}

.navbar-brand span {
    font-size:12px;
}

.dropdown-menu {
    max-height:200px!important;
    overflow-y:scroll;
}

.dropdown-menu a {
    color:#000000!important;
}

.App-body nav {
    height:100px;
}

.App-body select {
  font-size:12px!important;
  max-width:175px;
}

option {
  font-size:12px!important;
}

.App-body .navbar-brand {
    margin-right:35px;
}

.nav-item {
    border:#666666 1px solid;
    border-radius:5px;
    margin-right:10px;
}

.nav-item:hover {
    background:#666666;
}

.form-row .form-group {
    margin-right:10px;
}
#donateButton {
  color:#55dd79!important;
  border-color:#55dd79!important;
  margin-right:10px;
}
.form-group label, .form-group option, .form-group select {
    font-size:13px;
}

.form-row .btn {
    margin-left:10px!important;
    max-height:50px;
    margin-top:10px;
}

.form-control {
  font-family: 'Maitree', sans-serif;
}

#cardholder {
    margin-top:10px;
}

.card {
    background:#343a40;
    color:#eeeeee;
    padding:3px;
    margin:5px;
}

.card-title {
  font-family: 'Special Elite', serif;
}

.card p {
    font-size:12px;
    font-family: 'Maitree', sans-serif;
}

.list-group-item {
    background:#343a40!important;
    font-size:13px;
}

.card a:hover {
    color:#55dd79!important;
}

.modal-content {
    background:#333333;
    color:#eeeeee;
    font-family: "Special Elite", serif;
}

.modal-title, .modal-content h4 {
    color:#55dd79!important;
}

.modal-content p {
    font-size:14px;
    font-family: 'Maitree', sans-serif;
}

.modal-content span {
    color:#55dd79!important;
    font-style:italic;
}

.modal-content .card-img-top {
  max-height:250px;
  max-width:250px;
  margin:auto;
}

.randButton {
  border-radius:none!important;
}

#leftTitle {
  float:left;
  width:400px;
  font-size:28px;
}

#rightTitle {
  margin-left:240px;
}

#bigstuff {
  border-bottom:#cccccc 1px solid;
}

#basics, #allSkills, #advanced {
  padding-top:10px;
  border-bottom:#cccccc 1px solid;
  font-family: sans-serif;
}

#guide {
  padding-top:10px;
  font-family: sans-serif;
}

footer {
  background: #333333;
  color:#eeeeee;
  font-family: "Special Elite", serif;
  font-size:10px;
}

footer div {
  text-align:center;
  line-height:8px;
  padding:10px;
}

#submitModal .form-group {
  width:75%;
  margin:auto;
}

#submitModal button {
  margin-top:10px;
  float:right;
}

#masterygroup .form-control, #extras .form-control {
  margin-top:5px;
}

#bigstuff .btn {
  font-family: 'Special Elite', serif !important;
  color:#55dd79!important;
}

@media (max-width:992px) {
  .App-body .navbar {
    height:200px;
  }
}
