html, body {
  margin:0;
}

body {
  background-color:#363D42!important;
}

#title {
  font-family:"Special Elite", serif;
}

#main {
  margin-top:25px;
  background-color:#333333;
  padding:10px;
}

#maintext h2 {
  font-family:"Germania One", serif;
  color:#eeeeee;
}

#maintext h4 {
  font-family:"Special Elite", serif;
  color:#eeeeee;
}

#maintext p {
  font-family:"Special Elite", serif;
  color:#eeeeee;
}

.card {
  background-color:#444444!important;
  color:#cccccc;
  text-shadow:#000000 1px 1px;
  font-family:"Special Elite", serif;
  margin:5px;
}

.list-group-item {
  padding-top:5px!important;
  padding-bottom:5px!important;
  background-color:#444444!important;
}

.card-title {
  font-size:18px;
  font-style:bold;
}

.card-link {
  color:#cccccc;
}

.card-link:hover {
  color:#000000;
}

.dropdown {
  font-family:"Special Elite", serif;
}

.dropdown-menu {
  max-height:150px!important;
}

#filter {
  background-color:#666666;
  padding:10px;
}

#dropdownMenuButton {
  background-color:#398379;
}

.card-image-top {
  max-height:200px!important;
}

#name {
  text-align:center;
  font-family:"Germania One", serif;
  color:#eeeeee;
}

#hero, #hero img {
  width:100%!important;
  max-height:300px!important;
  margin:auto;
  margin-bottom:15px;
}

.media img {
  max-width:64px;
  max-height:64px;
}

#grimtool {
  color:#eeeeee;
}

#grimtool:hover {
  color:#398379!important;
}

#sectionlink {
  color:#eeeeee!important;
}

#sectionlink:hover {
  color:#398379!important;
}

.media {
  padding-top:5px;
}
