# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# sql dump
/gb-backend/grimbuilds-dump-2019-05-25.sql
